/*

Code from https://www.w3schools.com/howto/howto_js_lightbox.asp

modified by Julien Girard - 2025
	
*/

/**** LIGHTBOX ****/

body {
  /* font-family: Verdana, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.demo1, .demo2, .demo3, .demo4 {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.demo1.active, .demo2.active, .demo3.active, .demo4.active {
  opacity: 1;
}


img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-x {
  position: absolute;
  top: 5px;
  right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  z-index: 1000;
  cursor: pointer;
}

.close-x:hover,
.close-x:focus {
  color: #bbb;
  text-decoration: none;
}

.slide-container {
  position: relative;
  width: 100%;
}

.overlay-text {
  position: absolute;
  top: 7px;
  right: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  color: lightgray;
  padding: 8px 12px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

.slide-container:hover .overlay-text {
  opacity: 1;
}

.overlay-text a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.overlay-text a:hover {
  color: white;
  text-decoration: underline;
}

#caption a {
  color: lightgray;
  text-decoration: underline;
}

#caption a:hover {
  color: white;
}
